* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/music.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
}
h1 {
  display: flex;
  justify-content: center;
  padding: 6rem 0 2.5rem 0;
  font-size: 4rem;
  text-align: center;
  font-family: cursive;
  color: #fff;
}
.drums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: 25px;
  height: 25px;
  margin: 7px;
  box-shadow: 0px 2px 1px #32719e;
  // &:focus-within {
  //     color: red;
  //     background: red;
  // }
}
